<!DOCTYPE html>
<html lang="ro">
  <% var dir = process.cwd() %>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <%- include(dir+'/public/css/publicPageStyle'); %>
    <%- include(dir+'/public/css/navBarStyle'); %>
    <%- include(dir+'/public/css/filtersStyle'); %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap" rel="stylesheet">
    <%- include(dir+'/public/css/createTurbinePage'); %>
    <title>Public turbines</title>
  </head>
  <body id="body">
    <%- include(dir + "/views/partials/navBar") %>  
    <%- include(dir + "/views/partials/filters") %>

    <div class="turbines">
      <% for(turbine of turbines) {%> <%-
      include(dir + "/views/partials/publicTurbine", {turbine:turbine}) %> <% }
      %>
    

     
     

     


      <div class="popup" id="popupInfo">
        <div class="fields">
          <p>Nume:RDV</p>
          <p>Firma:RDV</p>
          <p>An Constructie:2022</p>
          <p>Email:rdv@yahoo.com</p>
          <p>Telefon:0752342313</p>
          <p>Medie kw/h:20</p>
          <div class="buttons">
            <button>Oferta</button>
            <button >Inchide</button>
          </div>
        </div>
        <div class="images">
          <img src="../images/mockImage.jpg" alt="turbine image placeholder" />
          <img src="../images/mockGraph.jpg" alt="wear graph placeholder" />
        </div>
      </div>

    </div>    
   
</body>
  
</html>
