<!DOCTYPE html>
<html lang="ro">
  <% var dir = process.cwd() %>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href=https://webprojectrdv.s3.amazonaws.com/favicon.png>
    <%- include(dir+'/public/css/publicPageStyle'); %> <%-
    include(dir+'/public/css/navBarStyle'); %> <%-
    include(dir+'/public/css/filtersStyle'); %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <%- include(dir+'/public/scripts/chartCreation'); %>
    <title>Public turbines</title>
    
  </head>
  <body>
    <%- include(dir + "/views/partials/navBar") %> <%- include(dir +
    "/views/partials/filters",{companies}) %>

    <div class="turbines">
      <% for(turbine of turbines) {%> <%- include(dir +
      "/views/partials/publicTurbine", {turbine:turbine,
      chart:chartData[turbine._id + 'chart']}) %> <% } %>
    </div>
    <%- include (dir+'/public/scripts/protectedRouteScript'); %> <%- include
    (dir+'/public/scripts/publicownedPageScript'); %>
  </body>
</html>
