<% var dir = process.cwd() %>
<div class="card">
  <div class="header"><%= turbine.name %></div>
  <div class="panel">
    <div class="attributes">
      <div class="attribute">Construction date: <%= turbine.constructionYear %></div>
      <div class="attribute">Suitability: <%= turbine.suitability %></div>
      <div class="attribute">Terrain: <%= turbine.terrain %></div>
      <div class="attribute"><%= turbine.turbineState %></div>
      <button
        class="dButton"
        onclick='location.href="/pages/turbineDetails/<%= turbine._id %>"'
      >
        Details
      </button>
    </div>

    <div class="imgs">
      <img src=<%= turbine.imageLink %> alt="Image placeholder" /> 
      <%- include (dir + '/views/partials/cumulativeChart', chart) %>
    </div>
  </div>
</div>
