<% var dir = process.cwd() %>
<div onclick="showPublicTurbine(`<%= turbine._id %>`,`<%= turbine.userId %>`)" class="turbine">
  <div class="header">
    <img src=https://webprojectrdv.s3.amazonaws.com/images/menu.png alt="spinner placeholder" />
    <p><%= turbine.name %></p>
    <p style="visibility: hidden">ab</p>
  </div>
  <div class="content">
    <p>Latitude: <%= turbine.latitude %></p>
    <p>Longitude: <%= turbine.longitude %></p>
    <p>Terrain: <%= turbine.terrain %></p>
    
  </div>
</div>

<div class="popup" id=<%=turbine._id %>>
  <div class="fields">
    <p><%= turbine.name %></p>
    <p id="company"></p>
    <p>Construction date: <%= turbine.constructionYear %></p>
    <p id="email" ></p>
    <p id="telefon"></p>
    <p>Suitability: <%= turbine.suitability %></p>
    <div class="buttons">
      <button onClick="makeOffer(`<%= userId %>`, `<%= turbine.userId %>`, `<%= turbine._id %>`)" class="dButton">Purchase</button>
      <button class="dButton" onclick="closePopup(`<%=turbine._id %>`)">Close</button>
    </div>
  </div>
  <div class="images">
    <img src=<%= turbine.imageLink %> alt="turbine image placeholder" />
    <%- include (dir + '/views/partials/cumulativeChart', chart) %>
  </div>
</div>